<!DOCTYPE html>
<html>
<head>
	<title>Registro de Cliente</title>
</head>
<body>
	<h1>Registro de Cliente</h1>
	<form action="?validar=true" method="post">
		<label for="firstname">Nome:</label>
		<input type="text" name="firstname" required><br><br>

		<label for="lastname">Sobrenome:</label>
		<input type="text" name="lastname" required><br><br>

		<label for="email">E-mail:</label>
		<input type="email" name="email" required><br><br>

		<label for="password">Senha:</label>
		<input type="password" name="password" required><br><br>

		<label for="telephone">Telefone:</label>
		<input type="text" name="telephone"><br><br>

		<input type="submit" value="Registrar" name="submit"> 
	</form>
</body>
</html>