<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 break"></div>
            <div class="col-md-3">
                <ul>
                    <li class="title">Fale Conosco</li>
                    <li class="modify font-14">
                        <a id="contact" href="https://api.whatsapp.com/send?phone=5511941383112" target="_blank"><i class="fa fa-whatsapp cor-whats"></i> <b>(11) 94138-3112</b></a><br />
                    </li>
                    <li class="modify font-14">
                        <a id="contact" href="mailto:contato@canseivendi.com.br" target="_blank"><i class="fa fa-envelope-o"></i> <b>contato@canseivendi.com.br</b></a>
                    </li>
                    <li class="title fale">Concept Store</li>
                    <li>
                        <p class="concept-store-description">
                            Alameda Lorena, 1969<br />
                            Jardins, São Paulo - SP<br />
                            01424-007
                        </p>
                    </li>
                </ul>
            </div>
</footer>