<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 break"></div>
            <div class="col-md-3">
                <ul>
                    <li class="title">Fale Conosco</li>
                    <li class="modify font-14">
                        <a id="contact" href="https://api.whatsapp.com/send?phone=5511941383112" target="_blank"><i class="fa fa-whatsapp cor-whats"></i> <b>(11) 94138-3112</b></a><br />
                    </li>
                    <li class="modify font-14">
                        <a id="contact" href="mailto:contato@canseivendi.com.br" target="_blank"><i class="fa fa-envelope-o"></i> <b>contato@canseivendi.com.br</b></a>
                    </li>
                    <li class="title fale">Concept Store</li>
                    <li>
                        <p class="concept-store-description">
                            Alameda Lorena, 1969<br />
                            Jardins, São Paulo - SP<br />
                            01424-007
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 social-network">
                <ul>
                    <li class="title">Siga-nos</li>
                    <li>
                        <a href="https://www.facebook.com/CanseiVendi/" target="_blank"><i class="far fa-facebook"></i> /cansei_vendi</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCPj6Mhtk5YT52MopCbG2EJA" target="_blank"><i class="far fa-youtube"></i> @cansei_vendi</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/cansei_vendi" target="_blank"><i class="far fa-instagram"></i> /cansei_vendi</a>
                    </li>
                    <li>
                        <a href="https://br.linkedin.com/company/-cansei_vendi" target="_blank"><i class="fab fa-linkedin"></i> @cansei_vendi</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="copy-right-area">
                    <div></div>
                    <h3>Cansei Vendi - Brechó de Luxo Online</h3>
                    com as melhores marcas de luxo. Chanel, Louis Vuitton, Prada, Gucci, Dior, entre outras. Pagamento em até 12X sem juros.<br />
                    Todos os direitos reservados - CNPJ: 26.375.270/0001-70
                </div>
            </div>
        </div>
    </div>
</footer>