<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    As melhores marcas em até 12x sem juros! Somente produtos originais e com duplo aval de autenticidade.
                    <a class="new-sell" href="#">
                        QUERO VENDER
                    </a>
                </div>
            </div>
        </div>
    </div>

     <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 div-middle-header">
                    <h2 id="logo">
                        <a href="/">
                            <img src="/image/logo-cansei-vendi.png" width="372px" height="97px" title="@Cansei_Vendi" alt="@Cansei_Vendi" class="img-responsive" loading="lazy" />
                        </a>

                        <span class="logo-texto-off">
                            Brechó de luxo Online - Bolsas, acessórios e roupas das mais luxuosas marcas
                        </span>
                    </h2>

                    <div class="menu-desktop">
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="./" class="selected">Início</a>
                                </li>
                               <li>
                                    <a href="#">Produtos</a>
                                </li>
                                <li>
                                    <a href="#">Quem somos</a>
                                </li>
                            </ul>
                        </div>

                        <div class="search-menu">
                            <form action="/product/search" method="GET">
                                <label for="search-menu">
                                    <input type="text" id="search-menu" name="search" placeholder="Buscar Produto">

                                    <button type="submit" class="btn-lupa" >
                                        <img src="/image/ico-search.svg" loading="lazy">
                                    </button>
                                </label>
                            </form>

                            <div id="autoContainer" class="auto-complete-container"></div>
                        </div>

                        <div class="menu-tools">
                            <div class="menu-wishlist">
                                <a href="#">
                                    <img src="/image/ico-heart.svg" alt="" loading="lazy">
                                </a>
                            </div>

                            <div class="menu-cart">
                                <a href="#">
                                    <img src="/image/ico-bag.svg" alt="" loading="lazy">

                                                                    </a>
                            </div>
                        </div>

                        <div class="menu-customer">
                                                            <a href="/account/registro" title="Cadastre-se">
                                    Cadastre-se
                                </a>

                                <a href="/" title="Acessar">
                                    Acessar
                                </a>
                                                    </div>
                    </div>

                    <div class="menu-mobile">
                        <div class="menu-tools-search hidden-m v">
                            <a class="a-vender" href="#">
                                <label class="lbl-vender">
                                    VENDER
                                </label>
                            </a>
                        </div>

                        <div class="menu-tools-search hidden-md">
                            <a href="#" id="open-search">
                                <img src="/image/icons/ico-tools-search.svg" alt="Lupa de Busca" width="18px" height="18px" loading="lazy">
                            </a>
                        </div>

                        <a href="javascript:;" class="expand" id="expand-menu"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header> 